.areia{
  width: 100vw;
  height: auto;
  position: absolute;
  margin-top: -15vh;
  z-index: 4;
}

.areia2{
  width: 100vw;
  height: auto;
  position: absolute;
  z-index: 4;
  margin-top: -1vh;
  transform: rotate(180deg);
}

.atrativos {
  background-color: #ff910a;
  z-index: 4;
  padding-bottom: 8vh;
}

.centralizando {
  margin: 10vh 0;
}

.centfolheto {
  display: grid;
  justify-items: center;
}

.comochegar {
  background-color: #009bd4;
}

.descricaofolheto {
  font-size: 1.3em;
  font-family: var(--font-lato);
  text-align: center;
  color: white;
}

.deputado {
  width: auto;
  height: 80vh;
  border-radius: 30px;
  border: solid white 8px;
  position: relative;
  z-index: 3;
}

.footer{
  background-color: #55A4A7;
  color: white;
  font-family: var(--font-lato);
  text-align: center;
  padding: 5px 0px;
}

.fontatrativos {
  font-family: var(--font-oswald);
  font-size: 1.5em;
  background-color: white;
  width: fit-content;
  padding: 5px 13px;
}

.folhas1,
.folhas2 {
  position: absolute;
  margin-top: -18vh;
}

.folhas2 {
  right: 0;
}

.folhetos {
  background-color: #003600;
}

.folhetosturisticos {
  border-radius: 50px;
  border: solid white 5px;
  transition: transform 0.3s ease;
}

.folhetosturisticos:hover {
  transform: scale(1.1);
}

.fundoagua {
  background-image: url(../../public/agua.svg);
  width: 100vw;
  min-height: 122vh;
  position: absolute;
  z-index: 3;
  margin-top: -8vh;
}

.fundoareia{
  background-color: #FFB703;
  padding-top: 27vh;
}

.fundomain {
  background-image: url(../../public/fundosite.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.guardioes{
  background-image: url(../../public/guardioesfundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 25%;
  margin-top: 22vh;
  padding-top: 30vh;
  padding-bottom: 20vh;
  min-height: 50vh;
}

.guardioestitulo{
  font-family: var(--font-lato);
  font-size: 2rem;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.301);
}

.imagensturisticas {
  border: solid white 5px;
  transition: transform 0.3s ease;
}

.imagensturisticas:hover {
  transform: scale(1.1);
}

.linkchegar{
  color: white!important;
  font-family: var(--font-lato);
  font-size: 3rem;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.301);
}

.montanha1 {
  width: 100vw;
  height: auto;
}

.montanha2 {
  width: 100vw;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.montanha3 {
  width: 100vw;
  height: auto;
  position: relative;
  z-index: 4;
}

.qrcode{
  text-align: center;
  width: fit-content;
  margin: 2vw 2vw;
  font-family: var(--font-lato);
}

.sobre {
  position: relative;
  z-index: 4;
  text-align: justify;
  color: #002f31;
}

.turista {
  width: auto;
  height: 70vh;
  position: absolute;
  bottom: 0;
  right: 5%;
  transform: translateX(-50%);
  z-index: 2;
}

.titulochegar {
  font-size: 5em;
  color: white;
}

.titulo1 {
  font-family: var(--font-lato);
  background-color: #009bd4;
  width: fit-content;
  padding: 0px 10px;
  color: white;
  font-size: clamp(1.8rem, 3vw, 3rem);
}

.tituloagencia {
  position: absolute;
  z-index: 5;
  font-size:4.5em;
  left: 36vw;
  margin-top: 0vh;
  color: white;
}
.tituloagencia2 {
  font-family: var(--font-gupter);
  position: absolute;
  z-index: 5;
  font-size: 2.2em;
  left: 39vw;
  margin-top: 9vh;
  color: white;
}

.tituloatrativos {
  position: absolute;
  z-index: 5;
  font-size: 5em;
  left: 11vw;
  margin-top: -34vh;
  color: white;
}

.tituloatrativos2 {
  position: absolute;
  z-index: 5;
  font-family: var(--font-gupter);
  font-size: 2.3em;
  left: 9vw;
  margin-top: -25vh;
  color: white;
}

@media (max-width: 1400px) {
  .fundoareia{
    padding-top: 24vh;
  }
  .fundoagua {
    min-height: 138vh;
  }

  .paddingtop {
    padding-top: 28vh;
  }

  .montanha3 {
    width: 100vw;
    height: auto;
    position: absolute;
    z-index: 4;
    margin-top: -16vh;
  }

  .tituloagencia{
    font-size: 3.5em;
    margin-top: -1vh;
    left: 35vw;
  }
   .tituloagencia2{
    font-size: 1.8em;
    left: 38vw;
    margin-top: 7vh;
  }

  .tituloatrativos {
    position: absolute;
    z-index: 5;
    font-size: 4em;
    margin-top: -2vh;
    color: aliceblue;
  }

  .tituloatrativos2 {
    position: absolute;
    z-index: 5;
    font-family: var(--font-gupter);
    font-size: 1.7em;
    margin-top: 7vh;
    color: aliceblue;
  }
}
