.centralizando {
  margin: 10vh 0;
}

.deputado{
  width: auto;
  height: 80vh;
  border-radius: 30px;
  border: solid white 8px;
}

.fundomain {
  background-image: url(../../public/fundosite.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.fundoagua {
  background-image: url(../../public/agua.svg);
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  z-index: 3;
  margin-top: -8vh;
}

.margintop{
  margin-top: 15vh;
}

.montanha1 {
  width: 100vw;
  height: auto;
}

.montanha2 {
  width: 100vw;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.sobre{
  position: relative;
  z-index: 4;
  text-align: justify;
  color: #002F31;
}

.turista {
  width: auto;
  height: 70vh;
  position: absolute;
  bottom: 0;
  right: 5%;
  transform: translateX(-50%);
  z-index: 2;
}

.titulo1 {
  font-family: var(--font-lato);
  background-color: #009bd4;
  width: fit-content;
  padding: 0px 10px;
  color: white;
  font-size: clamp(1.8rem, 3vw, 3rem);
}

